
  <div class="field">
    <%= f.text_field :body, placeholder: :body %>
  </div>

  <div class="field">
    <%= f.text_field :commenter, placeholder: :commenter %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
