<% if current_user %>

	<div class="banner">
	  <img src="https://github.com/Jfrederick12/Chicago_Electric_Piano_Site/blob/master/app/assets/images/cepco_logo_white.png?raw=true" height="50%" width="50%" />
		<div class="logged-in-message">Hey dingus, you're already logged in!</div>
		<div class="log-out"><%= link_to "Logout", '/logout' %> <%= link_to 'Home', root_path %></div>
	</div>

<% else %>

	<div class="banner">
	  <img src="https://github.com/Jfrederick12/Chicago_Electric_Piano_Site/blob/master/app/assets/images/cepco_logo_white.png?raw=true" height="50%" width="50%" />
		<div class="link-container"><%= link_to 'Login', '/login' %> <%= link_to 'Signup', '/signup' %></div>
	</div>

<% end %>