<div class="banner">
  <img src="https://github.com/Jfrederick12/Chicago_Electric_Piano_Site/blob/master/app/assets/images/cepco_logo_white.png?raw=true" height="50%" width="50%" />
	<div class="link-container"><%= link_to 'Login', '/login' %> <%= link_to 'Signup', '/signup' %></div>
</div>