/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Roboto|Questrial:400,100,900);

 html {

 }

 ul {

 }

 li {
  list-style-type: none;
  padding: 5px;
 }

.piano-list-container {
  text-align: center;
  left: 20%;
  right: 20%;
  padding: 10px;
  /*height: 100vh;*/
}

.banner {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://github.com/Jfrederick12/Chicago_Electric_Piano_Site/blob/master/app/assets/images/cepco_bg2.jpg?raw=true");
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://github.com/Jfrederick12/Chicago_Electric_Piano_Site/blob/master/app/assets/images/cepco_bg2.jpg?raw=true");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://github.com/Jfrederick12/Chicago_Electric_Piano_Site/blob/master/app/assets/images/cepco_bg2.jpg?raw=true");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://github.com/Jfrederick12/Chicago_Electric_Piano_Site/blob/master/app/assets/images/cepco_bg2.jpg?raw=true");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("https://github.com/Jfrederick12/Chicago_Electric_Piano_Site/blob/master/app/assets/images/cepco_bg2.jpg?raw=true");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://github.com/Jfrederick12/Chicago_Electric_Piano_Site/blob/master/app/assets/images/cepco_bg2.jpg?raw=true");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.banner img {
  background: transparent;
}

.photo-detail {
  padding-top: 5px;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(80% - 4px);
  margin-right: 5px;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 40em) {
  .photo-detail {
    width: calc(25% - 6px);
  }

  .photo-detail:nth-of-type(2n) {
    margin-right: 5px;
  }

  .photo-detail:nth-of-type(4n) {
    margin-right: 0;
  }
}

.photo-detail:hover img {
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.photo-detail:hover {
  text-decoration: none;
}

a {
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(80% - 4px);
  margin-right: 5px;
  text-decoration: none;
  color: black;
}

a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 40em) {
  a {
    width: calc(25% - 6px);
  }

  a:nth-of-type(2n) {
    margin-right: 5px;
  }

  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

a:hover img {
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /*transform: scale(1.15);*/
}

a:hover {
  text-decoration: none;
}

figure {
  margin: 0;
}

figure div {
  text-align: center;
}

figcaption {
  font-family: 'Questrial', sans-serif;
  margin-top: 3px;
}

figcaption:hover {
  text-decoration: none;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  -webkit-transform: scale(1);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/*.p a {
  display: inline;
  font-size: 13px;
  margin: 0;
}

.p {
  text-align: center;
  font-size: 13px;
  padding-top: 50px;
}*/

/*.piano-select-tray {
  height: 100vh;
  background-color: #e6cf8b;
}*/

/*.piano-select-tray .container {
  padding-top: 8%;
  padding-bottom: 15%;
}*/

/*.piano-select-tray img{
  display: block;
  position: relative;
  background: transparent;
}*/


.jumbo {
  display: block;
  padding: 20px;
  height: 100vh;
  /*background-color: #e6cf8b;*/
}

.jumbo h1 {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.jumbo p {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.select-options {
  text-align: center;
  float: center;
}

.piano-select-container {
  background: transparent;
  padding: 20px 20px 0px 20px;
  width: 20%;
  display: inline-block;
}

.piano-select-container img {
  background: transparent;
  padding-bottom: 10px;
}

.button-1{
  width:100%;
  height:50px;
  border:2px solid #34495e;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 0;
}

.button-1 a{
  width: 100%;
  font-family: 'Questrial', sans-serif;
  font-size:16px;
  color:#34495e;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}

.eff-1{
  width:100%;
  height:50px;
  top:-2px;
  right: 100%;
  background:#34495e;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}

.button-1:hover .eff-1{
  right:0;
}

.button-1:hover a{
  color:#fff;
}

.shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.border-divider {
  border-bottom: 1px solid gray;
}