/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */

.piano-list-container {
  text-align: center;
  left: 20%;
  right: 20%;
  padding: 10px;
}

a {
  overflow: hidden;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(80% - 4px);
  margin-right: 5px;
  text-decoration: none;
  color: black;
}

a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 40em) {
  a {
    width: calc(25% - 6px);
  }

  a:nth-of-type(2n) {
    margin-right: 5px;
  }

  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

a:hover img {
  transform: scale(1.15);
}

figure {
  margin: 0;
  overflow: hidden;
}

figcaption {
  margin-top: 15px;
}

img {
  overflow: hidden;
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.p a {
  display: inline;
  font-size: 13px;
  margin: 0;
  text-decoration: underline;
  color: blue;
}

.p {
  text-align: center;
  font-size: 13px;
  padding-top: 50px;
}

