// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-list {
  padding: 10px;
  background-color: #e6cf8b;
}

.post-container {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #e8edf3;
}

.post-container span:nth-child(1) {
  font-size: 28px;
}

.post-container span:nth-child(2) {
  padding-left: 20px;
  font-size: 12px;
}

.comments {
  padding: 10px;
  background-color: #fcfdff;
}

.post-comments {
  border-bottom: 1px solid #e8edf3;
  padding: 10px;
}