// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-list {
  padding: 10px;
  background-color: #e6cf8b;
}

.post-container {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #e8edf3;
}

.post-container span:nth-child(1) {
  font-size: 28px;
}

.post-container span:nth-child(2) {
  padding-left: 20px;
  font-size: 12px;
}

.comments {
  padding: 10px;
  background-color: #fcfdff;
}

.post-comments {
  border-bottom: 1px solid #e8edf3;
  padding: 10px;
}

.post-container button {
  margin-top: 10px;
}

.panel {
    margin-top: 10px;
    box-shadow: none;
    border: 0;
}

.add-comment {
  list-style-type: none;
  margin-left: -40px;
}

.add-comment textarea {
  width: 100%;
}

.comment-button{
  width:100%;
  height:50px;
  border:2px solid #22264b;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin: 10px 0 20px 0;
}

.comment-button a{
  width: 100%;
  font-family: 'Questrial', sans-serif;
  font-size:16px;
  color:#22264b;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}

.comment-eff{
  width:100%;
  height:50px;
  top:-2px;
  right: 100%;
  background:#22264b;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}

.comment-button:hover .eff-1{
  right:0;
  background: #22264b;
}

.comment-button:hover a{
  background-color: transparent;
  color:#fff;
}


.add-button{
  width:30%;
  height:50px;
  border:2px solid #22264b;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin: 10px 0 20px 0;
}

.add-button a{
  width: 30%;
  font-family: 'Questrial', sans-serif;
  font-size:16px;
  color:#22264b;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}

.add-eff{
  width:100%;
  height:50px;
  top:-2px;
  right: 100%;
  background:#22264b;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}

.add-button:hover .eff-1{
  right:0;
  background: #22264b;
}

.add-button:hover a{
  background-color: transparent;
  color:#fff;
}